body{
  font-family: 'Montserrat', sans-serif;
  color: #382308;
  background-color: #FFEFD5;
  margin-left: 0;
  margin-right: 0;

}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 100px;
  color: 	#954535;
  text-align: center;
  padding-top: 15px;
  margin-top: 90px;
  margin-bottom: 90px;
}

h2 {
  font-family: 'Indie Flower', cursive;
  color:	#5C4033;
  padding-right: 25px;
  margin-left: 25px;
  margin-bottom: 0;
  margin-top: 0;
}

p {
  padding-right: 25px;
  margin-left: 25px;
  margin-bottom: 0;
}

a {
  color: #5C4033;
}

div {
  padding: 25px;
}

hr {
border-style: dotted none none;
border-color: #954535;
border-width: 10px;
width: 10%;
}

.content {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px
}

.t1 {
  background-color: #FFDEAD;
}

.t2 {
  background-color: #FFE4B5;
}

.foot {
  text-align: center;
}
